---
import { Image } from 'astro:assets';
import * as imageHandler from '@/utils/image-handler';

const { title, copy, image, id } = Astro.props;
---

<section id={id} class="about">
  <div class="about__container">
    <div class="about__content">
      <h2 class="about__title">{title}</h2>
      <p class="about__copy">{copy}</p>
    </div>
  </div>
  <div class="about__image">
    <Image
      src={`${imageHandler.getUrl(image)}?w=768&q=80`}
      width={imageHandler.getDimensions(image).width}
      height={imageHandler.getDimensions(image).height}
      class="about__image-el"
      alt="Cooking Wood fired pizza"
    />
  </div>
</section>

<script>
import showSection from '@/utils/show-section';
  const about = document.querySelector('.about__content');
  showSection(about);
</script>

<style lang="scss">
  @import '@/scss/resources/breakpoints';
  @import '@/scss/resources/container';

  .about {
    position: relative;
    background-color: var(--color-grey);

    &__container {
      @include container;

      position: relative;
      z-index: 100;
      padding-top: 0;
      padding-bottom: 0;
    }

    &__content {
      @include container-padding;

      opacity: 0;
      transform: translateY(20px);
      transition: all 0.5s ease-in-out;

      @media screen and (min-width: $breakpoint-tablet) {
        max-width: 50%;
        padding-right: var(--spacer-l);
      }

      @media screen and (min-width: $breakpoint-desktop) {
        max-width: calc(66% + 20px);
        padding-right: var(--spacer-xl);
      }
    }

    &__image {
      position: relative;

      &:before {
        position: absolute;
        top: -50%;
        bottom: 0;
        z-index: 99;
        width: 100%;
        height: 50%;
        max-height: 100%;
        background: url('/images/bff-flame-cutoff-about.png') no-repeat bottom right;
        background-size: auto 100%;
        content: '';
      }

      @media screen and (min-width: $breakpoint-mobile) {
        &:before {
          height: 25%;
          top: -25%;
        }
      }

      @media screen and (min-width: $breakpoint-tablet) {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 50;
        width: 50%;

        &:before {
          width: 100%;
          height: 50%;
          top: auto;
          left: -100%;
        }

        &-el {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      @media screen and (min-width: $breakpoint-desktop) {
        width: 33%;

        &:before {
          height: 75%;
        }
      }
    }
  }
</style>
