---
import ContactItem from '@/components/ContactItem.astro';

const { title, phoneNumber, emailAddress, instagram, id } = Astro.props;
---

<section id={id} class="contact">
  <div class="container">
    <h2>{title}</h2>
    <div class="contact__details">
      {phoneNumber && <ContactItem icon={'Phone'} contact={phoneNumber} />}
      {emailAddress && <ContactItem icon={'Email'} contact={emailAddress} />}
      {instagram && <ContactItem icon={'Instagram'} contact={instagram} />}
    </div>
  </div>
</section>

<style lang="scss">
  .contact {
    background-color: var(--color-black);
    color: var(--color-white);
  }
</style>
