---
import ContactItem from '@/components/ContactItem.astro';

const { title, phoneNumber, emailAddress, instagramHandle, instagramLink, id } = Astro.props;
---

<section id={id} class="contact">
  <div class="container contact__container">
    <h2>{title}</h2>
    <div class="contact__details">
      {phoneNumber && <ContactItem icon={'Phone'} copy={phoneNumber} url={`tel:${phoneNumber}`} />}
      {
        emailAddress && (
          <ContactItem icon={'Email'} copy={emailAddress} url={`mailto:${emailAddress}`} />
        )
      }
      {
        instagramHandle && (
          <ContactItem icon={'Instagram'} copy={instagramHandle} url={instagramLink} />
        )
      }
    </div>
  </div>
</section>

<script>
  import showSection from '@/utils/show-section';
  showSection('.contact__container');
</script>

<style lang="scss">
  .contact {
    background-color: var(--color-black);
    color: var(--color-white);

    &__container {
      padding-top: var(--spacer-m);
      padding-bottom: var(--spacer-m);
      opacity: 0;
      transform: translateY(20px);
      transition: all 0.5s ease-in-out;
    }

    &__details {
      display: flex;
      flex-direction: column;
      gap: var(--spacer-xs);
    }
  }
</style>
