---
import { type NavItemType } from '@/utils/types';
import favicon from '@/assets/favicon.png';
import '@/scss/global.scss';
import { getHomePageContent, getHeaderNavItems, getMenuItems } from '@/utils/api';

import Header from '@/components/Header/Header.astro';
import Hero from '@/sections/Hero/Hero.astro';
import About from '@/sections/About/About.astro';
import Menu from '@/sections/Menu/Menu.astro';
import Gallery from '@/sections/Gallery/Gallery.astro';
import Contact from '@/sections/Contact/Contact.astro';

const formatHeaderNavItems = (headerNavItems: NavItemType[]) => {
  const orderedHeaderNavItems = headerNavItems.sort((a, b) => (a.order > b.order ? 1 : -1));
  return orderedHeaderNavItems.map((item: NavItemType) => {
    return {
      name: item.name,
      link: item.name.replace(' ', '-').toLowerCase(),
    };
  });
};

const formatHomeContent = homeContent => {
  return {
    hero: {
      title: homeContent.heroTitle,
      image: homeContent.heroImage,
      mobileImage: homeContent.heroMobileImage,
    },
    about: {
      title: homeContent.aboutTitle,
      copy: homeContent.aboutCopy,
      image: homeContent.aboutImage,
    },
    menu: {
      title: homeContent.menuTitle,
      copy: homeContent.menuCopy,
      image: homeContent.menuImage,
      mobileImage: homeContent.menuImageMobile,
    },
    gallery: {
      title: homeContent.galleryTitle,
      images: homeContent.galleryImages,
    },
    contact: {
      title: homeContent.contactTitle,
      phoneNumber: homeContent.phoneNumber,
      emailAddress: homeContent.emailAddress,
      instagramHandle: `@${homeContent.instagramHandle}`,
      instagramLink: `https://www.instagram.com/${homeContent.instagramHandle}/`,
    },
    seo: {
      metaTitle: homeContent.metaTitle,
      metaDescription: homeContent.metaDescription,
    },
  };
};

const headerNavItems = await getHeaderNavItems();
const formattedHeaderNavItems = await formatHeaderNavItems(headerNavItems);

const homeContent = await getHomePageContent();
const formattedHomeContent = formatHomeContent(homeContent[0]);

const menuItems = await getMenuItems();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href={favicon.src} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={formattedHomeContent.seo.metaDescription} />
    <title>{formattedHomeContent.seo.metaTitle}</title>
  </head>
  <body>
    <Header headerNavItems={formattedHeaderNavItems} />
    <Hero {...formattedHomeContent.hero} menuLink={formattedHeaderNavItems[1].link} />
    <About {...formattedHomeContent.about} id={formattedHeaderNavItems[0].link} />
    <Menu
      {...formattedHomeContent.menu}
      id={formattedHeaderNavItems[1].link}
      menuItems={menuItems}
    />
    <Gallery {...formattedHomeContent.gallery} id={formattedHeaderNavItems[2].link} />
    <Contact {...formattedHomeContent.contact} id={formattedHeaderNavItems[3].link} />

    <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-KC8MGR3Q1H"></script>
    <script is:inline async src="/js/ga.js"></script>
  </body>
</html>

<script>
  import detectTouchevents from '@/utils/detect-touchevents';
  document.documentElement.classList.add(detectTouchevents() ? 'touchevents' : 'no-touchevents');
</script>
